.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav {
  padding-left: 70%;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav .icon {
  display: none;
}
.header {
  padding-top: 2%;
  background-image: url("images/background-1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.intro {
  padding-top: 8%;
  padding-bottom: 10%;
}

.hi {
  color: white;
}

.portfolio-image {
  width: 100%;
  height: auto;
}
.hover-image {
  background-color: white;
  display: inline-block;
  padding: 2%;
}
.hover-image img:hover {
  opacity: 0.5;
}
.portfolio {
  padding: 1% 5%;
}
.portfolio-text {
  text-align: center;
  padding: 1% 0;
  padding-top: 2%;
}
.about {
  padding: 10% 5%;

  padding-left: 50%;
  background-image: url("images/background-1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ddd;
}
.about-me {
  font-size: 3rem;
}
.about-me-para {
  font-size: 1.5rem;
}
.contact {
  padding-left: 8%;
  padding-right: 50%;
  padding-bottom: 5%;
  padding-top: 8%;
}
.send {
  margin-top: 5px;
}
.socials {
  margin: 1rem;
}
.footer-text {
  color: gray;
}
#footer {
  text-align: center;
  padding: 0% 10%;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #362222; /*Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  text-align: center;
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.slider {
  background-color: #362222;
  position: fixed;
  color: white;
  top: 40%;
  padding: 1% 2%;
  font-size: 2.5rem;
}
